@font-face {
  font-family: poppinsBold;
  src: url("./assets/Font/Poppins/Poppins-Regular.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5 {
  line-height: 2;
  font-family: poppinsBold, sans-serif;
}

h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }

.section {
  padding: 4rem 5rem;
  min-height: auto;
  width: 100%
}

.heading {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
.content {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 2rem;
}

#thirdSection {
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: black;
  color: white;
  padding-bottom: 2rem;
}

#forthSection {
  display: flex;
  text-align: center;
  flex-direction: column;
}

#forthSection img {
  width: 500px;
}

#fifthSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  text-align: center;
}

footer img,
#fifthSection img,
.content img {
  width: 100%;
}

@media only screen and (max-width: 480px) {
  .section {
    width: 100%;
    padding: 2rem;
  }

  #firstSection, 
  #secondSection,
  #fifthSection {
    min-height: 100vh; 
  }

  .content {
    display: block;
    gap: 2rem;
  }
  #forthSection img {
    width: 100%;
  }

  #fifthSection {
    display: block;
    gap: 2rem;
    text-align: center;
  }
}
